.modify-dialog{

  &__header{
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
  }

  &__button-container{
    margin-bottom: 2rem;
    width: 300px;
    justify-content: space-between;
    margin-top: 1rem;
  }

  &__main-content{
    margin: 2rem 0;
    max-height: 60vh;
    overflow-y: auto;
    padding: 0 10px;
  }
}