.modify-dialog{
  position: relative;

  &__header{
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
  }

  &__button-container{
    margin-bottom: 2rem;
    width: 300px;
    justify-content: space-between;
    margin-top: 1rem;
  }

  &__main-content{
    margin: 2rem 0;
    max-height: 60vh;
    overflow-y: auto;
    padding: 0 10px;
  }

  &__delete-score-button {
    position: absolute;
    top: 35px;
    right: 25px;
    font-size: 1rem;
    font-weight: 600;
    color: #771818;

    &:hover {
      cursor: pointer;
    }
  }
}