.white-container{

    &__content{
      margin-top: 1.3rem;
      width: 50%;

      @media screen and (max-width: 900px) {
        width: 80%;
      }
    }
  
    &__header{
      font-size: 2.0rem;
      margin-bottom: 1rem;
      color: #263238;
    }
  
    &__ranking-container{
      margin-top: 2rem;
    }
  
    &__counting-container, &__ranking-container{
      width: 600px;
    }
  
    &__ranking-select-container{
      margin-top: 2rem;
    }
  
    &__select-year{
      width: 250px;
      margin-right: 50px;
    }
  
    &__header{
      font-size: 2.0rem;
    }
  
    &__content__container {
      background-color: white;
      box-sizing: border-box;
      padding: 2rem 2rem;
      border-radius: 8px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      margin-top: 2rem;
    }
  
    &__small-header {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: #263238;
    }
  
    &__beging-ranking-info {
      font-size: 1rem;
    }
  
    &__ranking-button-container {
      margin-bottom: 3rem;
    }
  }