.input{

  &__label{
    font-size: 1.3rem;
    color: var(--onyx);
    margin-bottom: 0.6rem;
    
    &:hover{
      cursor: default;
    }
  }
  &__field{
    height: 1.9rem;
    width: 16rem;
    background-color: var(--gray-light);
    border: 1px solid var(--gray);
    border-radius: 4px;
  }
}