.dialog{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;

  &__content{
    background-color: #fefefe;
    margin: 10% auto;
    width: 600px;
    border-radius: 10px;
  }

  &--oldScores &__content {
    margin: 4% auto;

    @media screen and (max-height: 800px) {
      margin: 2% auto;
    }
  }


  
}